html {
    font-family: 'Nunito', sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

main {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    padding: 1.5rem;
    border-radius: 20px;
    font-size: 1.5rem;
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5em;
}

p {
    margin-top: 1.5em;
}

input[type="text"] {
    display: block;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    width: 80%;
    height: 1.5em;
    border: 0;
    border-radius: 5px;
    margin: 0.5em auto;
    padding: 0.5em;
    text-align: center;
    outline: none;
}

button {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
	background: #d22d27;
	color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border: 0;
    border-radius: 25px;
    padding: 0.4em 1.5em;
    cursor: pointer;
}

button:hover {
    background: #af0809;
}