<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">

    <meta name="description" content="
        This is a guide to creating strong passwords that are easy to remember.
        You start with a sentence of your choice and only keep the first letters of each word.
        After throwing in a symbol in between two random words, you have successfully created a secure password.
    ">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <title>How to generate a strong but simple password</title>
</head>

<body>
    <header>
        <a id="github" href="https://github.com/cxan96/strong-but-simple-passwords">
            <img src="/static/img/GitHub-Mark-64px.png">
        </a>
    </header>
    <main>
        <h1>
            How to create a secure and easy to remember password following some simple rules:
        </h1>
        <form action="{{ url_for('index') }}" method="POST">
            <ol>
                <li>
                    <label for="input_sentence">
                        <h3>1. Start with a sentence you can remember</h3>
                    </label>
                    <input type="text" id="input_sentence" name="input_sentence" value="{{ sentence }}">
                </li>
                <li>
                    <h3>2. Only keep the first 3 letters of each word</h3>
                </li>
                <li>
                    <h3>3. Put a random symbol somewhere in between</h3>
                </li>
            </ol>
            <button type="submit">Generate password!</button>
        </form>
        {% if generated_password is defined %}
        Congratulations! 🎉🎉🎉 You successfully generated a secure password:
        {{ generated_password }}
        If a hacker tried 10,000,000,000 different passwords every second, this is how long it would take them to find
        yours: {{
        cracking_time }}
        {% endif %}
    </main>
</body>

</html>